@model IEnumerable<IssueManager.Models.IssueUser>

@{
    ViewData["Title"] = "My Issues";
}
<h2>  </h2>
<table class="table">
    <thead>
        <tr>

        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
                            <tr>
                                <td>
                                    <div class="btn btn-default" style="width: 100%; text-align: left; background:
                                    @switch (@item.Issue.State)
                                    {
                                        case 0:
                                            <text>lightyellow</text>
                                            break;
                                        case 1:
                                            <text>lightblue</text>
                                            break;
                                        case 2:
                                            <text>lightgreen</text>
                                            break;
                                        case 3:
                                            <text>lightred</text>
                                            break;
                                    }
                                    ;" onclick="appendSolution(@Html.DisplayFor(modelItem => item.Issue.IssueID))">
                                        <table class="table" style="background:none; margin:0px;" id="instab">
                                            <thead>
                                                <tr>
                                                    <b>
                                                        <u>Created</u>:
                                                        @Html.DisplayFor(modelItem => item.Issue.Created)
                                                        &nbsp;&nbsp;
                                                        @if (@item.Issue.State > 1)
                                                            {
                                                                <text>
                                                                <u>Solved</u>:
                                                                @Html.DisplayFor(modelItem => item.Issue.Solved)
                                                                </text>
                                                            }
                                                    </b>
                                                </tr>
                                                <h5></h5>
                                                <tr>
                                                    @Html.DisplayFor(modelItem => item.Issue.Content)
                                                </tr>
                                            </thead>
                                            @if (@item.Issue.Solution != "undefined")
                                            {
                                                <text>
                                                    <tbody style="display:none;" id="@Html.DisplayFor(modelItem => item.Issue.IssueID)">
                                                        <tr>
                                                            <td>
                                                                <div style="width:100%;word-break: break-all; word-wrap: break-word;">
                                                                    @Html.DisplayFor(modelItem => item.Issue.Solution)
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </text>
                                            }
                                        </table>
                                    </div>
                                </td>
                            </tr>
                        }
    </tbody>
</table>
